/* users.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.page-container {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-color: #e0e0e0;
}
.admin-navbar {
    background-color: #222e3c;
    color: #fff;
    padding: 10px;
    width: 15%; /* Set navbar width to 20% */
    height: 100vh; /* Set navbar height to full viewport height */
    position: fixed; /* Fix navbar position */
    top: 0; /* Align navbar to top */
    left: 0; /* Align navbar to left */
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Stack items vertically */
    padding-top: 20px; /* Add padding to top */
}

.admin-navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 1; /* Grow to fill remaining space */
    display: flex; /* Use flexbox layout */
    flex-direction: column;
   /* Stack items vertically */
}

.admin-navbar-item {
       display: inline-block;
    margin-bottom: 30px; /* Add margin between each list item */
}

.admin-navbar-item:last-child {
    margin-bottom: 0; /* Remove margin from the last list item */
}

.admin-navbar-link {
    display: block; /* Make link fill the entire width of the navbar */
    text-decoration: none;
    color: #fff;
    padding: 10px; /* Add padding to make links clickable */
}

.admin-navbar-link:hover {
    background-color: #555; /* Change background color on hover */
}


.pending-requests-table {
    width: 80%;
    margin-left: 20%;
    padding: 20px;
    background-color: #e0e0e0; /* Change background color for the content area */
    border-radius: 10px; /* Add border radius for a nicer look */
    padding-bottom: 20px; /* Add padding at the bottom of the container */
}

.pending-requests-table table{
    width: 90%;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* Change background color for the table */
    margin-top: 20px; /* Add margin to the top of the table */
    margin-bottom: 20px; /* Add margin to the bottom of the table */
}

.pending-requests-table th, .pending-requests-tabletd {
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
}

.pending-requests-table th {
    background-color: white;
    color: #333;
    text-align: left;
}

.pending-requests-table tr:hover {
    background-color: #ddd;
}

.pending-requests-table h2 {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: #e0e0e0; /* Change background color for the h2 */
    padding: 10px; /* Add padding for a nicer look */
    border-radius: 5px; /* Add border radius for a nicer look */
}

.pending-requests-table p {
    color: #555;
    font-size: 16px;
    background-color: white; 
    margin-left: 10px;/* Change background color for the p tag */
    margin-bottom: 20px;
     /* Add margin to the bottom of the p tag */
}
.para{
   background-color: white;
    width: 90%;
 
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .pagination p {
    margin-left: 10px;
  }
  
  .pagination button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 20px;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination button:hover {
    background-color: #0056b3;
  }

  .entry{
    margin-left: 10px;
  }

.button-approve{
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 20px;

}